# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
/.project
/.settings/
/.classpath
/mujoco-*

/mujoco
/javacpp-platform-*-bin*
*.class*
*jni*.cpp
bin
src/main/resources/linux*
src/main/resources/windows*
src/main/resources/macosx-x*
src/main/java/mujoco/*.h

*.DS_Store*
cppbuild
*hs_err_*.log